<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Nobre Management - Agencia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <!-- Le styles -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/owl.carousel.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic,600italic,600&amp;subset=latin,greek-ext,cyrillic-ext,greek,vietnamese,cyrillic' rel='stylesheet' type='text/css'>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="images/favicon.png"><!--favicon image-->
    </head>

	<body>
    	<!-- Preloader -->
        <div id="preloader">
            <div id="status"><img src="images/black-logo.png" alt="loading content.."></div>
        </div>
        
        <!--WORKS START-->
		<div id="social" class="content clearfix">
			<div class="container">
				<div class="top-content clearfix">
					<h3 class="content-title">WORKS</h3>
				
				</div><!--/.top-content-->
				
			</div><!--/container-->	
			
			<div id="port-body" class="port-body clearfix">
			
				
				
				<div class="col-md-4  col-sm-6 port-item brand future">
					<a class="port-ajax" href="#" data-link="work2.html">
						<div class="hovers">
							<div class="hover-detail">
								<h4>FUTURE</h4>
								<i class="icon-detail fa fa-bug"></i>
								<p>Discos, eventos y marcas</p>
							</div>
						</div>
						<img src="images/work/2.jpg" alt="portfolio">
					</a>
				</div><!--/.port-item-->
				
				<div class="col-md-4  col-sm-6 port-item brand future">
					<a class="port-ajax" href="#" data-link="work2.html">
						<div class="hovers">
							<div class="hover-detail">
								<h4>FUTURE</h4>
								<i class="icon-detail fa fa-bug"></i>
								<p>Discos, eventos y marcas</p>
							</div>
						</div>
						<img src="images/work/2.jpg" alt="portfolio">
					</a>
				</div><!--/.port-item-->
				
				<div class="col-md-4  col-sm-6 port-item brand future">
					<a class="port-ajax" href="#" data-link="work2.html">
						<div class="hovers">
							<div class="hover-detail">
								<h4>FUTURE</h4>
								<i class="icon-detail fa fa-bug"></i>
								<p>Discos, eventos y marcas</p>
							</div>
						</div>
						<img src="images/work/2.jpg" alt="portfolio">
					</a>
				</div><!--/.port-item-->
				
				<div class="col-md-4  col-sm-6 port-item present">
					<a class="port-ajax" href="#" data-link="work3.html">
						<div class="hovers">
							<div class="hover-detail">
								<h4>PRESENT</h4>
								<i class="icon-detail fa fa-file-code-o"></i>
								<p>Discos, eventos y marcas</p>
							</div>
						</div>
						<img src="images/work/9.jpg" alt="portfolio">
					</a>
				</div><!--/.port-item-->
				
				<div class="col-md-4  col-sm-6 port-item present">
					<a class="port-ajax" href="#" data-link="work3.html">
						<div class="hovers">
							<div class="hover-detail">
								<h4>PRESENT</h4>
								<i class="icon-detail fa fa-file-code-o"></i>
								<p>Discos, eventos y marcas</p>
							</div>
						</div>
						<img src="images/work/9.jpg" alt="portfolio">
					</a>
				</div><!--/.port-item-->
				
				<div class="col-md-4  col-sm-6 port-item present">
					<a class="port-ajax" href="#" data-link="work3.html">
						<div class="hovers">
							<div class="hover-detail">
								<h4>PRESENT</h4>
								<i class="icon-detail fa fa-file-code-o"></i>
								<p>Discos, eventos y marcas</p>
							</div>
						</div>
						<img src="images/work/9.jpg" alt="portfolio">
					</a>
				</div><!--/.port-item-->

				<div class="col-md-4  col-sm-6 port-item past">
					<a class="port-ajax" href="#" data-link="work3.html">
						<div class="hovers">
							<div class="hover-detail">
								<h4>PAST</h4>
								<i class="icon-detail fa fa-file-code-o"></i>
								<p>Discos, eventos y marcas</p>
							</div>
						</div>
						<img src="images/work/9.jpg" alt="portfolio">
					</a>
				</div><!--/.port-item-->
				
				<div class="col-md-4  col-sm-6 port-item past">
					<a class="port-ajax" href="#" data-link="work3.html">
						<div class="hovers">
							<div class="hover-detail">
								<h4>PAST</h4>
								<i class="icon-detail fa fa-file-code-o"></i>
								<p>Discos, eventos y marcas</p>
							</div>
						</div>
						<img src="images/work/9.jpg" alt="portfolio">
					</a>
				</div><!--/.port-item-->

				<div class="col-md-4  col-sm-6 port-item past">
					<a class="port-ajax" href="#" data-link="work3.html">
						<div class="hovers">
							<div class="hover-detail">
								<h4>PAST</h4>
								<i class="icon-detail fa fa-file-code-o"></i>
								<p>Discos, eventos y marcas</p>
							</div>
						</div>
						<img src="images/work/9.jpg" alt="portfolio">
					</a>
				</div><!--/.port-item-->
			</div><!--/port-body-->
			<div id="worksajax"><!--work ajax anchor--></div>
			<div class="worksajax clearboth clearfix"></div><!--portfolio ajax content here-->
		</div><!--/works-->
		<!--WORKS END-->
		
		
		<footer class="footer clearfix">
			<div class="container">
				<div class="col-md-6">
					<p>Nobre  &copy;2019 - Design by <a href="http://www.verticedigital.com.ar" target="_new"> Verticedigital</a></p>
				</div><!--/.col-md-6-->
				
				<div class="col-md-6 footer-box">
					<ul class="footer-icon">
						<li><a href="https://www.facebook.com/NobreManagement"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com/matiasnobreok"><i class="fa fa-twitter"></i></a></li>
					</ul><!--/.team-icon-->
				</div><!--/.footer-box-->			
			</div><!--/.container-->
		</footer><!--/.footer--> 
		
		<!-- The javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="js/modernizr.js"></script>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="js/jquery.ui.map.js"></script>
		<script type="text/javascript" src="js/jquery.easing.js"></script>
		<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script> 
		<script type="text/javascript" src="js/isotope.pkgd.js"></script>
		<script type="text/javascript" src="js/jquery.fitvids.js"></script>
		<script type="text/javascript" src="js/contact.js"></script>
		<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="js/owl.carousel.js"></script>
		<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
		<script type="text/javascript" src="js/jquery.nav.js"></script>
		<script type="text/javascript" src="js/jquery.scrollTo.js"></script>
		<script type="text/javascript" src="js/jquery.sticky.js"></script>
		<script type="text/javascript" src="js/ticker.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
     	

	</body>
</html>