<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Los medicamentos que suministramos en nuestra farmacia son de excelente calidad y a los mejores precios. Visítenos en Farmacia Osvaldini. ¡Visítenos en Pinamar!">
	<meta name="author" content="Verticedigital.com.ar">
	<title>Farmacia Osvaldini - Medicamentos en Pinamar con Farmacia Osvaldini</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- BASE CSS -->
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/icon_fonts/css/all_icons_min.css" rel="stylesheet">
	
	<!-- SPECIFIC CSS -->
	<link href="css/magnific-popup.min.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Preload -->

	<div class="layer"></div>
	<!-- /Overlay mask -->

	<header>
		<nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header-wp">
                    <div class="navbar-header">
                        <a class="cmn-toggle-switch cmn-toggle-switch__htx" href="javascript:void(0);" data-toggle="collapse" data-target="#navbar"><span>Menu mobile</span></a>
                        <div id="logo_home">
                            <h1><a href="index.html" title="Farmacia Osvaldini">Los medicamentos que suministramos en nuestra farmacia son de excelente calidad y a los mejores precios. Visítenos en Farmacia Osvaldini. ¡Visítenos en Pinamar!</a></h1>
                        </div>
                        
                    </div>
                    <!--/navbar-header-->
                </div>
                <!--/navbar-header-wp-->
                <div class="collapse navbar-collapse navbar-right" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html"><span>Home</span></a></li>
                        <li><a href="servicios.html">Servicios</a></li>
                        <li><a href="nosotros.html">Nuestra Farmacia</a></li></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="galeria.html">Galería</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</header><!-- /Header -->
	
	<section class="parallax_window_in short" data-parallax="scroll" data-image-src="img/subheader_in_4.jpg" data-natural-width="1400" data-natural-height="400">
		<div id="sub_content_in">
			<div class="container">
				<h1>Galeria de Imagenes</h1>
				<p></p>
			</div>
		</div>
	</section><!-- End section -->
 	
    <div id="position">
		<div class="container">
			
		</div>
	</div><!-- End position -->
    
   <main>
	   <div class="container margin_60">
		   <h2 class="main_title"><em></em>Artículos de dermocosmética en Pinamar<span>Conozca la variedad de productos de dermocosmética que tenemos a su disposición. Recuerde que los productos de higiene y de belleza personal ofrecen un universo de posibilidades para verse siempre mejor, solo se trata de elegir el correcto y para eso puede contar con nosotros, Farmacia Osvaldini, más de 30 años de experiencia nos avala.</span></h2>
		   <div class="grid">
				<ul class="magnific-gallery">
					<li>
						<figure>
							<img src="img/gallery/1.jpg" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="img/gallery/large/1.jpg" title="Farmacia Osvaldini" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Ampliar Imagen</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="img/gallery/2.jpg" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="img/gallery/large/2.jpg" title="Farmacia Osvaldini" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Ampliar Imagen</p>
									</a>
								</div>

							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="img/gallery/3.jpg" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="img/gallery/large/3.jpg" title="Farmacia Osvaldini" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Ampliar Imagen</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="img/gallery/4.jpg" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="img/gallery/large/4.jpg" title="Farmacia Osvaldini" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Ampliar Imagen</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="img/gallery/5.jpg" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="img/gallery/large/5.jpg" title="Farmacia Osvaldini" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Ampliar Imagen</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="img/gallery/6.jpg" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="img/gallery/large/6.jpg" title="Farmacia Osvaldini" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Ampliar Imagen</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="img/gallery/7.jpg" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="img/gallery/large/7.jpg" title="Farmacia Osvaldini" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Ampliar Imagen</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="img/gallery/8.jpg" alt="">
							<figcaption>
								<div class="caption-content">
									<a href="img/gallery/large/8.jpg" title="Farmacia Osvaldini" data-effect="mfp-zoom-in">
										<i class="pe-7s-albums"></i>
										<p>Ampliar Imagen</p>
									</a>
								</div>
							</figcaption>
						</figure>
					</li>
				</ul>
			</div>
			<!-- /grid gallery -->
	   </div>
	   <!--/container-->
	  
		<!-- /bg_color_1 -->
	</main><!--/main-->
    
    <div id="newsletter_container">
        <div class="container margin_60">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h3>Subscribete a nuestro newletter y recibiras nuestras novedades.</h3>
                    <div id="message-newsletter_2"></div>
                    <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2" class="form-inline">
                        <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Tu Email" class="form-control">
                        <button id="submit-newsletter_2" class="button">Subscribete</button>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- End newsletter_container -->
    
    <footer>
        <div class="container margin_60_35">
            <div class="row ">
                <div class="col-md-4 col-sm-6">
                    <img src="img/logo-footer.png" width="190" height="48" alt="Farmacia Osvaldini" data-retina="true" id="logo_footer">
                    <p>En Farmacia Osvaldini contamos con más de 30 años de reconocida trayectoria en el sector. Ofrecemos productos de perfumería, higiene y más. </p>
                </div>
                <div class="col-md-3 col-md-offset-1 col-sm-3">
                    
                </div>
                <div class="col-md-4 col-sm-3" id="contact_bg">
                    <h3>Contacto</h3>
                    <ul id="contact_details_footer">
                        <li id="address_footer">Av. Shaw 658 - Entre del Pejerrey y de la Trucha - Pinamar - BUENOS AIRES 7167</li>
                        <li id="phone_footer"><a href="tel://(02254) 48 2867">(02254) 48 2867</a></li>
                        <li id="email_footer"><a href="mailto:info@farmaciaosvaldini.com">info@farmaciaosvaldini.com</a></li>
                    </ul>
                </div>
            </div><!-- End row -->
            <div id="social_footer">
                <ul>
                    <li><a href="https://www.facebook.com/pg/Osvaldini-Farmacia-y-Perfumería-645094478857713" target="_new"><i class="icon-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/farmaciaosvaldini" target="_new"><i class="icon-instagram"></i></a></li>
                    
                </ul>
            </div>
        </div><!-- End container -->
        <div id="copy">
            <div class="container">
                © Farmaciaosvaldini.com 2018 - Dominio Reservado.
            </div>
        </div><!-- End copy -->
    </footer><!-- End footer -->




	<!-- SCRIPTS -->
    <script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts.js"></script>
	<script src="assets/validate.js"></script>
	<script src="js/header_sticky_1.js"></script>
	<script src="js/functions.js"></script>


</body>
</html>